/*
 * Style tweaks
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  /* line 8, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/offcanvas.css.scss */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  /* line 15, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/offcanvas.css.scss */
  .row-offcanvas-right {
    right: 0;
  }

  /* line 19, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/offcanvas.css.scss */
  .row-offcanvas-left {
    left: 0;
  }

  /* line 24, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/offcanvas.css.scss */
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -70%;
    /* 6 columns */
  }

  /* line 29, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/offcanvas.css.scss */
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -30%;
    /* 6 columns */
  }

  /* line 33, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/offcanvas.css.scss */
  .row-offcanvas-right.active {
    right: 70%;
    /* 6 columns */
  }

  /* line 37, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/offcanvas.css.scss */
  .row-offcanvas-left.active {
    left: 30%;
    /* 6 columns */
  }

  /* line 41, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/offcanvas.css.scss */
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 70%;
    /* 6 columns */
  }
}
