/* line 5, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.roadmap-id {
  padding: 5px;
}

/* line 8, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.p-error {
  margin-left: 40%;
}

/* line 11, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.tooltip-roadmap {
  width: 200px;
  white-space: normal;
}

/* line 17, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.ui-widget-header {
  border: 1px solid #913228;
  background: #913228 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
}

/* line 23, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.ui-state-default .ui-icon {
  background-image: url("ui-icons_222222_256x240.png");
}

/* line 27, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("ui-icons_222222_256x240.png");
  background-color: #B25050;
  border: 1px solid #913228;
}

/* line 35, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #913228;
  background: #913228 50% 50% repeat-x;
  font-weight: bold;
  color: #ffffff;
}

/* line 42, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.ui-button {
  height: 34px;
  padding: 0px 12px 12px 12px;
}

/* line 46, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.ui-button:hover {
  background-color: #B25050;
  border: 1px solid #913228;
}

/* line 51, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.modal-header {
  background-color: #913228;
}

/* line 54, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.modal-title {
  color: #ffffff;
  font-size: 16px;
}

/* line 59, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.carousel .carousel-control {
  top: 100px;
  color: #000000;
  text-align: left;
  font-size: 20px;
}

/* line 65, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
.modal-height {
  max-height: 500px;
}

@media (max-width: 800px) {
  /* line 69, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
  .roadmap-id {
    padding: 3px;
  }

  /* line 72, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
  .p-error {
    margin: auto;
  }

  /* line 75, /home/cuongct/StarTeam/EverEdu/SOURCE/JP-AES_v0.2/app/assets/stylesheets/roadmap.css.scss */
  .modal-height {
    max-height: 300px;
  }
}
