<div class="innerLR">
  <h3><%= t('users.title_about') %></h3>

  <div id='general' class="row">
    <%= render 'general_information'%>
  </div>

</div>



<script>
    $(document).ready(function () {

    });
</script>