<div class="col-md-12">
  <h3 class="center capital f1 wow fadeInLeft" data-wow-duration="2s"><%= t('app.error_title') %></h3>
  <h1 id="error" class="center wow fadeInRight" code="422" data-wow-duration="2s">0</h1>
  <p class="center wow bounceIn" data-wow-delay="2s"><%= t('app.error_unprocessable') %></p>
</div>