// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea {
  resize: vertical;
}

ul.comments {
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
}

ul.comments li {
  clear: both;
  padding: 10px 0px 0px 115px;
}

ul.comments li.comment_mentor {
  clear: both;
  padding: 115px 0px 0px 10px;
}

ul.comments li div.img-thumbnail {
  margin-left: -115px;
  position: absolute;
}

ul.comments li.comment_mentor div.img-thumbnail {
  margin-right: -115px;
  position: absolute;
}

ul.comments li a {
  text-decoration: none;
}

ul.comments li img.avatar {
  height: 80px;
  width: 80px;
}

ul.comments div.comment-block {
  background: none repeat scroll 0% 0% #F4F4F4;
  border-radius: 5px;
  padding: 20px 20px 30px;
  position: relative;
}

ul.comments div.comment-arrow {
  border-bottom: 15px solid transparent;
  border-right: 15px solid #F4F4F4;
  border-top: 15px solid transparent;
  height: 0px;
  left: -15px;
  position: absolute;
  top: 28px;
  width: 0px;
}

ul.comments div.comment-block span.comment-by {
  display: block;
  font-size: 1em;
  line-height: 21px;
  margin: 0px;
  padding: 0px 0px 5px;
}

ul.comments div.comment-block span.date {
  color: #999;
  font-size: 0.9em;
}

ul.comments li ul.reply {
  margin: 0px;
}

.comment-author {
  margin-right: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background: none repeat scroll 0% 0% #F2DEDE;
  position: relative;

}

.comment-no-author {
  margin-left: 60px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background: none repeat scroll 0% 0% #F4F4F4;
  position: relative;
}

.reply-author {
  margin-left: 15%;
  margin-right: 5%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: none repeat scroll 0% 0% #F2DEDE;
}

.reply-no-author {
  margin-right: 15%;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: none repeat scroll 0% 0% #F4F4F4;
}

.comment-avatar {
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 5px;
  align: middle;
}


#comments-list {
  max-height:500px;
  overflow-y: auto;
}

@media (max-width:767px)
{
  #comments-list {
    max-height:500px;
    overflow-y: auto;
  }
}

.comment {
  margin-top: 10px;
}

.comment-content {
  word-wrap:break-word;
  text-align: justify;
}